*{
/*border: 1px solid #000;*/
}
body{
    font-family: "Roboto Light";
    font-size: 16px;
}
.landing-page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    z-index: 0;
    position: absolute;
}
.navbar-light .navbar-brand{
    color: #fcfcfc;
    font-family: "Roboto Regular";
    font-size:1.5em;
    padding: 3% 0 0 2%;
}
.form-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #fcfcfc
}
.heading-h1{
    padding-top: 10%;
    font-size: 6vw;
}
.blue{
    color: #1279be;
}
.red{
    color: red;
}
.form-row span{
    display: inherit;
}
.span-checks span{
    left: -30px;
    position: relative;
}
.form-row input,
.form-row{
    display: inline;
}

.facebook-sign{
    background-color: #1279be;
    color:#fff;
    font-size: 1em;
    border-radius: 30px;
}
.p-text{
    font-size: 1em;
}
.radio-box{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 1em;
    margin-right: 4%;
}
.radio-box.focus{
    background-color: #1279be;
    color: #fff;
    border: none;
}
.radio-box.active{
    box-shadow: none;
}
.form-control{
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 1em;
    color: #000;
    padding-left: 0;
}
.form-check-label{
    font-size: 0.8em;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}
input[type="checkbox" i]{
}
.sign-up-btn{
    background-color: #1279be;
    color:#fff;
    font-size: 0.8em;
    border-radius: 40px;
    margin-bottom: 10%;
    margin-top: 1.5em;
}

/*******
Overlay Screen
********/
.overlay-screen{
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    position: absolute;
    /*opacity: 0.98;*/
}
.welcome-heading{
    font-size: 6vw;
}
.welcome-text{
    margin-top: 10%;
}
.buttons-row {
    margin-top: 20%;
}
.buttons-row button{
    margin-top: 10%;
}
.overlay-buttons{
    background-color: #1279be;
    color:#fff;
    font-size: 1em;
    border-radius: 25px;
}

/*******
Media Queries
********/

@media (min-width: 576px) {
    .facebook-sign{
        font-size: 1.2em;
    }
    .buttons-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .img-left {
        background-image: url('../images/landing-img.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .heading-h1{
        padding-top: 10%;
        font-size: 3.1vw;
    }
    .facebook-sign{
        font-size: 1.5vw;
    }
    .welcome-heading{
        font-size: 4vw;
    }
}

@media (min-width: 992px) {
    .facebook-sign{
        font-size: 1.8vw;
    }
    .heading-h1{
        padding-top: 20%;
        font-size: 2.5vw;
    }
    .sign-up-btn{
        margin-bottom: 20%;
    }
    .welcome-heading{
        font-size: 3vw;
    }
}

@media (min-width: 1200px) {
    .heading-h1{
        font-size: 2.5vw;
    }
    .facebook-sign{
        font-size: 1vw;
    }
}

@media (max-width: 767px) {
    .img-left nav,
    .img-left img{
        display: none;
    }
}
